div{		
		   border:solid 1px black;
		   height:400px;
		   width:400px;
		   margin: 0 auto;
		   align:center;
		   margin-top:150px;
		   box-shadow:10px black;
		   }
		.A{
		   margin-left:160px;
		   margin-top:100px;
		   box-shadow:-10px -10px skyblue;
		   border-radius:10px;
		  }
		  h1{
		  text-align:center;
		  font-family:arial;
		  }
		  p{
		  text-align:center;
		  }